form {
 background-color: #fff;
 padding: 30px;
 border-radius: 10px;
 box-shadow: 0 2px 5px rgba(0,0,0,0.1);
 margin: auto;
 max-width: 500px
}

input, textarea{
width: 100%;
padding: 10px;
border: 1px solid #ddd;
border-radius: 5px;
margin-bottom: 10px;
box-sizing: border-box;
}

button{
background-color: #2196F3;
color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
}

.buttons{
text-align: right;
margin-right: 50px;
}

.btn{
color: gray;
text-decoration: none;
margin-right: 15px;
}

.post{
max-width: 800px;
margin: auto;
}

.author {
color: gray;
text-align: right;
}

input[type="image"] {
width: 40px;
height: 40px;
}